#configNotebook header {
    background-color: @theme_focused_bg_color;
}

#configNotebook tab {
    border-radius: 0px;
    background-color: @theme_focused_bg_color;
}

#configNotebook tab:checked {
    background-color: @theme_unfocused_bg_color;
}

#categoryViewport {
    background-color: @theme_unfocused_bg_color;
}

#validEntry {
    color: white;
    background: green;
}

#invalidEntry {
    color: white;
    background: red;
}

#missingConfigLabel {
    background: lightyellow;
}