[Desktop Entry]
Name=TLP UI
Name[zh_CN]=TLP 设置
Exec=/usr/bin/tlpui
Terminal=false
Type=Application
Icon=/usr/lib/python3/dist-packages/tlpui/icons/OnAC.svg
Comment=Tlp UI with gtk
Comment[zh_CN]=TLP 的 Gtk 设置界面
Categories=Utility;Python;GTK;
